<nav class="navbar navbar-expand-lg navbar-light bg-primary p-3">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <a><img src="./../../../assets/images/Pimg.jpg" alt="" width="70px" height="70px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About-Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact-Us</a>
         
        </li>
      </ul>
    </div>
    <div class="float-right">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="Product">Product</a>
          </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="Login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sign-up</a>
              </li>
            </ul>
      </div>
  </nav>
